{% extends 'base.html'%}

{% block title %}{{title}}{% endblock %}
{% block user_name %}{{user_name}}{% endblock %}

{% block cards %}  

<div class="row">
    <div class="col-md-6 page-header">        
        <h2 class="page-title">/{{title}}</h2><br>        
        <div>
            <label>請選擇年度:</label><br><br>
            <select class="form-select" aria-label="Default select example" onchange="update_all(this.value);">                                       
              {% for year in all_years %}      
                <option value={{forloop.counter}}>{{year}}</option>    
              {% endfor %}
            </select>  
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-big text-center">
                            <i class="olive fas fa-money-bill-alt"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="detail">
                            <p class="detail-subtitle">貸放金額</p>
                            <span class="number" id="m01">{{loan_amt.total_loan}}</span>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="fas fa-calendar"></i>For this Year
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-big text-center">
                            <i class="teal fas fa-shopping-cart"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="detail">
                            <p class="detail-subtitle">貸放人數</p>
                            <span class="number" id="m02">{{loan_count.total_count}}</span>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="fas fa-calendar"></i>For this Year 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-big text-center">
                            <i class="violet fas fa-eye"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="detail">
                            <p class="detail-subtitle">違約金額</p>
                            <span class="number" id="m03">{{default_amt.default_amt}}</span>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="fas fa-stopwatch"></i>For this Year
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-big text-center">
                            <i class="orange fas fa-envelope"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="detail">
                            <p class="detail-subtitle">違約人數</p>
                            <span class="number" id="m04">{{default_count.default_count}}</span>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="fas fa-envelope-open-text"></i>For this Year
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="content">
                        <div class="head">
                            <h5 class="mb-0">每月貸放金額</h5>
                            <p class="text-muted">Current year data</p>
                        </div>
                        <div class="canvas-wrapper" id="left_chart">
                            <canvas class="chart" id="m_loan_amt"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="content">
                        <div class="head">
                            <h5 class="mb-0">每月貸放人數</h5>
                            <p class="text-muted">Current year data</p>
                        </div>
                        <div class="canvas-wrapper" id="right_chart">
                            <canvas class="chart" id="m_loan_count"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="content">
                <div class="head">
                    <h5 class="mb-0">貸款目的(Top 10)</h5>
                    <p class="text-muted">Current year data</p>
                </div>
                <div class="canvas-wrapper" id="left_tb">
                    {{purpose.tb|safe}}                   
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="content">
                <div class="head">
                    <h5 class="mb-0">貸款人工作職稱(Top 10)</h5>
                    <p class="text-muted">Current year data</p>
                </div>
                <div class="canvas-wrapper" id="right_tb">
                    {{occupation.tb|safe}}
                </div>
            </div>
        </div>
    </div>    
</div>

{% load static %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'assets/vendor/chartsjs/Chart.min.js' %}"></script>     
<script src="{% static 'assets/js/my_functions.js' %}"></script>
<script type="text/javascript">              
    var y1 ={{month_loan.mm|safe}};
    var x1 ={{month_loan.amt|safe}};    
    left_chart(y1, x1);
    var y2 = {{month_count.mm|safe}};
    var x2 = {{month_count.count|safe}};
    right_chart(y2, x2);            
</script>

{% endblock %}