<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Logout | Django Simple Admin</title>
    {% load static %}
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/auth.css' %}" rel="stylesheet">    
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <img class="brand" src="{% static 'assets/img/dl.png' %}" alt="bootstraper logo"><br>   
                    </div>                 
                    <h5 class="mb-4 text-muted">Hi, {{user_name}}.</h5>                    
                    <h5 class="mb-4 text-muted">You have been logged out!<br>Thanks for spending some quality time <br>with the web site today.</h5>                     
                    <h7 class="mb-4 text-muted">({{dt}})</h7><br><br>                  
                    <a href="/login" style="font-size: larger;">Go back to login</a><br><br>  
                </div>
            </div>
        </div>
    </div>       
</body>

</html>

